<nav id="sidebar" class="sidebar" >
  <div class="sidebar-content">
   
      <div class="sidebar-header">
        <a href="#">Pro Sidebar</a>
      </div>

    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
    <h1>Hello</h1>
      
      
    
  </div>
</nav>




<!-- <nav id="sidebar" class="sidebar" >
  <div class="sidebar-content">
    
      <div class="sidebar-header">
        <a href="#">Pro Sidebar</a>
      </div>
    
    <div>
        <header>
          <h1 class="message-content">Home </h1>
          <h1>Home</h1>
          <h1>Home</h1>
          <h1>Home</h1>
          <h1>Home</h1>
          <h1>Home</h1>
        </header>
        
        
        </div>
        
  </div>
</nav>




<!-- <div class="navbar navbar-default">
    
  
  
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >ngEvents</a> 
      </div>

      <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
        <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
    <div>
    <mat-sidenav-container class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
  <mat-nav-list>
  <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
  </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
  <p *ngFor="let content of fillerContent">{{content}}</p>
  </mat-sidenav-content>
  </mat-sidenav-container>
      <!-- <div>
        <ul class="nav-menu-list">
          <li>
            <div class="nav-menu-div">
              <svg class="nav-svg" aria-label width="20" height="20"></svg></div>
          </li>
          <li>
            <div><h2>Family</h2></div>
          </li>
          <li>
            <div><h2>Education</h2></div>
          </li>
          <li>
            <div><h2>Experience</h2></div>
          </li>
        </ul>
      </div> -->



      


<!--   
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a >Me</a>
            <a>Family</a>
            <a>Education</a>
            <a>Experience</a>
            <a>Contact Me</a>
          </li>
        </ul>
       </div>
    </div>
</div> --> 