<div class="introduction" id="introduction">
    <!-- 
    <img  src="assets/img/First_trial_image.jpg/">
     -->

    <div class="container" style="z-index: 3;">
        <div class="sixteen columns">
            <div class="s-title-group s-only-title-group ">
                <div class="s-subtitle">
                    <div class="s-component s-text">
                        <h4 class="s-component-content s-font-heading">
                            <p style="color: ivory; font-size: 130%;" class="s-text-color-white"><em>Hey, I'm</em></p>
                        </h4>
                    </div>
                </div>
                <div class="s-title sb-title-center-align has-fresh-line">
                    <div class="s-component s-text">
                        <h1 class="s-component-content s-font-title">
                            <p style="text-align: center; font-size: 130%; color: ivory;"><strong>T'Challa</strong></p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1 style="color: ivory;">Know me more?</h1>
    <h1 style="color: ivory;">My life!</h1>


</div>