<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <div class="row">
    <div class="column-1">

      <!-- <nav-bar *ngIf="showNavigationNavigation"></nav-bar> -->
    </div>
    <!-- <div appParallax [ratio]="-0.2" class="column-1" style="background-color: yellow">
      <h1>!</h1>
    </div>
    <div >
      <br>
      <h1 style="padding-left: 10px"> Header</h1>
    </div> -->
    <div class="mainImage"
      style="background-size: auto; background-image: url(assets/img/bike_background_edited.jpg); ">


      <div class="container" style="z-index: 3;">
        <main class="page-content">

          <div class="container-fluid">
            <div class="row">
              <div class="form-group col-md-12">

                <a href="#" class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">Nav</a>

                <introduction-page></introduction-page>

              </div>
            </div>

          </div>
          <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>

        </main>
        <div class="cloumn-2">
        </div>


      </div>

    </div>
    <contact-me></contact-me>
  </div>

  <!-- <div>
    <div id="elm">
    </div>
  </div> -->
  <!-- <div class="page-wrapper" [ngClass]="{'toggled':  getSideBarState()}">
    <nav-bar></nav-bar>
    <main class="page-content"> 
      <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-12">
  <div class="header-logo"> <header-bar></header-bar>  </div>
  <a href="#" class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">Toggle Sidebar</a>
    </div>
  <h1>Hello world!</h1>
    </div>
      </div>
  <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show':!getSideBarState()}"></div>
</main>
  
</div> -->